* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div,
p {
  display: block;
}

article,
header,
section,
footer {
  display: block;
  float: left;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
}

section {
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .container {
    max-width: 83.3333333333%;
  }
}
.container__logo {
  font-size: 2.5rem;
  margin: 0 2rem;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #1e1e27;
}

p {
  color: #1e1e27;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: left;
}

h1 {
  color: #1e1e27;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
  margin-top: 2rem;
}

h2 {
  color: #b5aec8;
  font-size: 2rem;
}

h3 {
  color: #b5aec8;
  font-size: 1.8rem;
}

header {
  background-color: #fe7c7f;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 1rem;
  padding: 2rem 0;
  background-color: #E0E0E0;
}

.blocks {
  padding: 3rem 0;
}
.blocks__title {
  color: #15616d;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.4rem;
  display: block;
  float: left;
  height: auto;
  margin: 1.5rem auto;
  padding: 1rem 0;
  width: 100%;
}
.blocks__item {
  color: #fe4c50;
  display: block;
  margin: 1.5rem 0.75rem;
  text-align: center;
  width: calc(33% - 15px);
}
@media (max-width: 999px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__img-container {
    height: 20rem;
  }
}
.blocks__description {
  color: #444;
  font-size: 1.8rem;
  padding: 1.5rem;
}
.blocks__description--destack {
  color: #15616d;
}
.blocks__button {
  background-color: #15616d;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 2rem;
  margin: 2rem auto 2rem;
  padding: 0.5rem 3rem;
  text-align: center;
  text-decoration: none;
}

.cars {
  background-color: #fe4c50;
}
.cars__title {
  color: #b5aec8;
  margin-left: 2rem;
}
.cars__item {
  border: 1px solid #51545f;
  background-color: #fe4c50;
  box-shadow: 0 0 1px rgba(68, 68, 68, 0.25);
  color: #15616d;
  display: flex;
  float: left;
  max-height: max-content;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;
}
.cars__item--destacks {
  border: 1px solid #1e1e27;
  background-color: #fe7c7f;
  box-shadow: 0 0 1px rgba(68, 68, 68, 0.25);
}
.cars__item img {
  cursor: pointer;
  filter: brightness(110%);
}
.cars__item img:hover {
  width: 110%;
}
.cars__button {
  background-color: #15616d;
}

.motorbikes {
  background-color: #fe4c50;
}
.motorbikes__title {
  color: #b5aec8;
  margin-left: 2rem;
}
.motorbikes__item {
  border: 1px solid #51545f;
  background-color: #fe4c50;
  box-shadow: 0 0 1px rgba(68, 68, 68, 0.25);
  color: #15616d;
  display: flex;
  float: left;
  max-height: max-content;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;
}
.motorbikes__item--destacks {
  border: 1px solid #1e1e27;
  background-color: #fe7c7f;
  box-shadow: 0 0 1px rgba(68, 68, 68, 0.25);
}
.motorbikes__item img {
  cursor: pointer;
  filter: brightness(110%);
}
.motorbikes__item img:hover {
  width: 110%;
}
.motorbikes__button {
  background-color: #15616d;
}

.destack {
  padding: 1.5rem;
}
.destack__title {
  color: #b5aec8;
  float: left;
  font-size: 2.5rem;
  margin-top: 0;
}
.destack__subtitle {
  color: #1e1e27;
  float: left;
  font-size: 1.4rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.destack__image {
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
  filter: drop-shadow(10px 15px 15px #1e1e27);
}
.destack__description {
  font-size: 1.8rem;
  color: #1e1e27;
  padding: 2rem 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
