@mixin theme($theme: $text-1, $bg: $color-hover) {
    border: 1px solid $theme;
    background-color: $bg;
    box-shadow: 0 0 1px rgba($color-default, .25);
}

.motorbikes {
    background-color: $color-2;

    &__title {
        color: $text-2;
        margin-left: 2rem;
    }

    &__item {
        @include theme($theme: $link-color-1, $bg: $color-2);
        color: $color-1;
        display: flex;
        float: left;
        max-height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;

        &--destacks {
            @include theme;
        }

        img {
            cursor: pointer;
            filter: brightness(110%);
        }

        img:hover {
            width: 110%;
        }
    }

    &__button {
        background-color: $color-1;
    }
}